<%- include header.ejs %>
<div class="container" style="margin-top:20px;width: 100%;">
    <div class="row">
        <div class="col-xs-6">
            <h4><strong>身份认证</strong></h4>
        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group btn-group-lg" style="margin-right: 20px;">
                <button type="button" class="btn btn-primary">个人认证</button>
                <button type="button" class="btn btn-default">商家认证</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="alert alert-warning">
        <a href="#" class="alert-link">请认真填写店家信息，方便进行审核。</a>
    </div>
</div>
<div class="container container-9" >
    <form method="post" action="/apply" enctype="multipart/form-data" id="auth-form">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label ><h4><strong>真实姓名</strong></h4></label>

                    <div class="form-control-wrap">
                        <input type="text" placeholder="您的真实姓名" name="person_name" value="" class="form-control input-lg" id="person_name" />

                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label ><h4><strong>联系电话</strong></h4></label>
                    <div class="form-control-wrap">
                        <input type="text" placeholder="联系电话" name="phone" value="" class="form-control input-lg" id="phone" />
                        <div class="form-control-msg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label ><h4><strong>联系地址</strong></h4></label>
                    <div class="form-control-wrap">
                        <input type="text" placeholder="联系地址" name="address" value="" class="form-control input-lg" id="address" />
                        <div class="form-control-msg"></div>
                    </div>
                </div>
          </div>
         </div>
        <div class="row">
              <div class="col-xs-12">
                  <div class="form-group">
                      <label ><h4><strong>身份证号</strong></h4></label>
                      <div class="form-control-wrap">
                          <input type="text" placeholder="身份证号" name="identity_number" value="" class="form-control input-lg" id="id" />
                          <div class="form-control-msg"></div>
                      </div>
                  </div>
              </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div id="identity_card_upload">
                    <div class="outer_block pull-left">
                        <div class="inner_block front" >

                            <a class="btn-fw btn-green">
                                <span id="btnUp">上传正面</span>
                                <input type="file" name="image1" id="image1" data-url="/auth/post_image" />
                            </a>

                        </div>
                    </div>
                    <div class="outer_block pull-left">
                        <div class="inner_block back">

                            <a class="btn-fw btn-green">
                                <span>上传背面</span>
                                <input type="file" name="image2" id="image2" date-url="/auth/post_image"/>
                            </a>

                        </div>
                    </div>
                </div>
                <ul id="identity_card_upload_notice " class="pull-left">
                    <li>须是清晰彩色原件</li>
                    <li>可以是扫描或数码照片</li>
                    <li>上传文件大小不超过2M</li>
                </ul>
             </div>

        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-xs-12">

               <button type="submit" class="btn btn-primary btn-lg" style="width: 200px;">提交审核</button>

            </div>
        </div>

    </form>
</div>
</div>
<script src="/libs/validate/jquery.validate.js" type="text/javascript"></script>
<script src="/libs/validate/jquery.validate.extension.js" type="text/javascript"></script>
<script src="/libs/jquery-upload/jquery.ui.widget.js" type="text/javascript"></script>
<script src="/libs/jquery-upload/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="/libs/jquery-upload/jquery.fileupload.js" type="text/javascript"></script>
<script src="/javascripts/store/auth.js" type="application/javascript"></script>
<%- include footer.ejs %>