
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>比特餐云</title>
    <link rel="stylesheet" href="/stylesheets/login_style.css" type="text/css" />
</head>

<body>
<div class="con">
    <div class="logo"><img src="/images/logo.png" /></div>

    <div class="tu">
        <a href="/place">
            <img src="/images/tu1.png" />
        </a>
    </div>
    <div class="ind_btn">
      <a href="/login">  <img src="/images/btn1.png" class="f_l" /></a>
      <a href="/register">  <img src="/images/btn2.png" class="f_r" /></a>
    </div>
    <div class="bot">
        <div class="bot1 twhite1"><span>关于我们 | 免责声明 | 联系我们 | 网站地图 | 使用帮助</span>©版权所有：厦门领驰信息 备案号:闽ICP备12012536号</div>
    </div>
</div>
<!--[if IE 6]>
<script type="text/javascript" src="/javascripts/iepng.js" ></script>
<![endif]-->
</body>
</html>
