body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
body{
    background-color: #11EEEE;
}
.container-white{
    background-color: #ffffff;
}
.container-9{
    width: 90%;
}
label.error{
    float:right;
    color:red;
    line-height: 40px;
}